*{
    margin: 0;
    padding:0;
    text-decoration: none;
    color:#12130F;
    list-style:none;
    box-sizing:border-box;
}
body{
    background-color: #F7F3F3;
    padding:15px;
}
nav ul li{
    display: inline-block;
}
nav  img{
    width: 50px;
    padding:10px;
} 