:root{
    --nvo:#12130F;
    --vs:#5B9279;
    --vm:#8fcb9b;
    --ba:#F7F3F3;
    /*--> Estilizado de tarjetas blanco*/
    --car-white-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --card-white-background:rgba(247, 243, 243, 0.9); 
    --card-white-border-bottom:1px solid rgba(91, 146, 121, 0.4);
    /* --> Estilizado de tarjetas negro*/

    }
/* --> Fonts*/
@font-face{
    font-family:"brand";
    src:url(../fonts/brand/milk_and_honey/Milk\ And\ Honey.ttf);
}
@font-face{
    font-family:"header";
    src:url(../fonts/header/CQ_MONO/CQ\ Mono.otf);
}
@font-face{
    font-family: "body_black";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Black.otf);
}
@font-face{
    font-family: "body_bold";
    src:url(../fonts/body/MADECarvingSoftPERSONALUSE-Bold.otf);
}
@font-face{
    font-family: "body_extra_light";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-ExtraLight.otf);
}
@font-face{
    font-family: "body_light";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Light.otf);
}
@font-face{
    font-family: "body_medium";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Medium.otf)
}
@font-face{
    font-family: "body_regular";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Regular.otf);
}
@font-face{
    font-family: "body_semi_bold";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}
@font-face{
    font-family:"body_thin";
    src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Thin.otf);
}
@font-face {
    font-family: "epa";
    src: url();
}
*{
    margin: 0;
    padding:0;
    text-decoration: none;
    color:var(--nvo);
    list-style:none;
    box-sizing:border-box;
    font-family:"body_regular";
}
/* --> Body*/
body{
    background-color: var(--ba);
    padding:15px;
    width: 100%;
    position: relative;
}
/* --> Header*/
header{
    
}      
/* --> Nav*/
nav ul,
nav ul li,
nav ul li a,
nav ul li a label,
nav ul li a div{
    display: inline-block;
    white-space: nowrap;
}
nav a,
nav div, nav label{
    width: 100%;    
}
nav img{
    width: 40px;
    vertical-align: middle;
}
nav ul.search button{
    background-color:rgba(247, 243, 243, 0.9);
    outline:none;
    border: 0.7px solid var(--vs);
    border-radius: 60%;
    background-color: #2929290a;
    cursor:pointer;
}
.search{
    position:fixed;
    right: 20px;
}
.search_box{
    display: none;
    width: 100%;    
}
.search_box_visible {
    display:block;
}
.search_box input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius:3px;
}
.search_box input:focus{
    accent-color:#5b9279;
}
.filter{
    margin-top: 15px;
}
.filter select,.filter button{
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px var(--nvo);
}
.filter button {
    background-color: var(--vm);
    font-family: "body_semi_bold";
}
.filter button:hover,.filter button:focus,.filter button:active{
    color:var(--ba);
    cursor: pointer;
}


/* --> Media Querys*/

/* --> Tablet*/
@media(width>480px){
  
}

/* --> Desktop*/
@media(width>1024px){
   
}
