:root{
  --nvo:#12130F;
  --vs:#5B9279;
  --vm:#8fcb9b;
  --ba:#F7F3F3;
  --redPw:#ef8b8fd1;
  --redStrongPW:#831e22;
  --yellowPw:#f2d96c;
  --greenPw:#77cd5d;
  }
/* --> Fonts*/
@font-face{
  font-family:"brand";
  src:url(../fonts/brand/milk_and_honey/Milk\ And\ Honey.ttf);
}
@font-face{
  font-family:"header";
  src:url(../fonts/header/CQ_MONO/CQ\ Mono.otf);
}
@font-face{
  font-family: "body_black";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Black.otf);
}
@font-face{
  font-family: "body_bold";
  src:url(../fonts/body/MADECarvingSoftPERSONALUSE-Bold.otf);
}
@font-face{
  font-family: "body_extra_light";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-ExtraLight.otf);
}
@font-face{
  font-family: "body_light";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Light.otf);
}
@font-face{
  font-family: "body_medium";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Medium.otf)
}
@font-face{
  font-family: "body_regular";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Regular.otf);
}
@font-face{
  font-family: "body_semi_bold";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}
@font-face{
  font-family:"body_thin";
  src: url(../fonts/body/MADECarvingSoftPERSONALUSE-Thin.otf);
}
/* Animation For bar password progress bar */
@keyframes prgVeryWeak{
  from {

  }to{
    background-color: var(--redStrongPW);
    width: 21%;
  }
}
@keyframes prgWeak{
  from {
    background-color: var(--redStrongPW);
    width: 21%;
  }to{
    background-color: var(--redPw);
    width: 40%;
  }
}
@keyframes prgNormal{
  from{
    background-color: var(--redPw);
    width: 40%;
  }to{
    background-color: var(--yellowPw);
    width: 60%;
  }
}
@keyframes prgStrong{
  from{
    background-color: var(--yellowPw);
    width: 60%;
  }to{
    background-color: var(--vm);
    width: 80%;
  }
}
@keyframes pgrVeryStrong {
  from{
    background-color: var(--vm);
    width: 80%;
  }to{
    background-color: var(--greenPw);
    width: 100%;
  }
}
*{
  margin: 0;
  padding:0;
  text-decoration: none;
  color:var(--nvo);
  list-style:none;
  box-sizing:border-box;
  font-family:"body_regular";

}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--ba);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  height: 100vH;
}

.form_container {
  background: var(--vs);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
.volver{
  align-self:flex-start;
  justify-self:flex-start;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
h2 {
  text-align: center;
  color: var(--ba);
  padding: 10px;
}
.form_group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_group p{
  color: var(--ba);
  font-size: 17px;
}
.form_group p:hover{
  color: var(--nvo);
}
.form_group button[id="submit_button"]{
  width: 50%;
  align-self: center;
  margin-top: 15px;
  font-size: 1.1em;
}
label {
  display: block;
  padding: 5px;
  font-size: 16px;
  color: var(--ba);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--nvo);
  border-radius: 5px;
  background-color: #f9f9f9;
}

input:focus {
  outline: none;
  border-color: var(--ba);
  background-color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: var(--nvo);
  background-color:var(--vm);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--ba);
  color: var(--vs);
}

button:active {
  transform: scale(0.98);
}
.volver{
  width: fit-content;
}
.volver img{
 width: 40px;
}

a:hover{
  cursor:pointer;
}

/* JS STYLE */

.unvalidatedPassword,
.unvalidatedPassword:focus{
  background-color: var(--redPw);
}
.validInput{
  background-color: var(--greenPw);
}
.jsPassWordValidator{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  width: 100%;
  border: var(--vm) solid 2px;
  border-radius: 10px;
  color: var(--redPw);
}
.jsPassWordValidator p{
  color: var(--redStrongPW);
  font-weight:600;
}
.form_err_div{
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.form_err_div{
  width: 100%;
  display: none;
  height: 30px;
}
.form_err_div img,
.form_err_div p{
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--redStrongPW);
}
div.jsPassWordValidator div.form_err_div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.jsPassWordValidator img{
  height: 32px;
}
/* Styel toggle */
.showContainer{
  display: flex !important;
}
.jsValidated{
  color: var(--greenPw) !important;
}
.pass_progress{
  display: none;
  flex-direction:row;
  width: 100%;
  height: 35px;
}
div.pass_progress div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
  height: 100%;
  border: solid 2px var(--nvo);
  border-radius: 15px;
}

div[id="progress"] img{
  height: 100%;
}
p[id="pProgress"]{
  font-size: 0.9em;
  width:max-content;
  height: fit-content;
  font-weight: 500;
  color: var(--nvo);
}
/* Progress bar JS */
.pwVeryWeak{
 animation: prgVeryWeak forwards 300ms;
}
.pwWeak{
  animation: prgWeak forwards 300ms;
}
.pwNormal{
  animation: prgNormal forwards 300ms;
}
.pwStrong{
  animation: prgStrong forwards 300ms;
}
.pwVeryStrong{
  animation: pgrVeryStrong forwards 300ms;
}